:root {
  --bg-button: #f0f0f0;
  --border-button: solid 1px transparent;
}

.button {
  font-size: 1.4em;
  background-color: var(--bg-button);
  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  outline: none;
  transition: .15s ease-in-out;
}

.button:hover {
  background-color: #c9c9c9;
}

.button:active {
  background-color: #ccc;
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
}

.button.operation {
  background-color: #fa8231;
  color: #fff;
}

.button.operation:active,
.button.operation:hover {
  background-color: #fc751b;
}