.calculator {
  height: 320px;
  width: 235px;
  border-radius: 5px;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: .8fr 48px 48px 48px 48px;

  box-shadow: 0 2px 10px -2px #0005;
}