.btn {
  margin-right: 5px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  font-size: 20px;
  padding: 0px;
  outline: none;
}

.markedAsDone {
  text-decoration: line-through;
  color: #777;
}

.tableActions {
  width: 95px;
}

.todoForm {
  display: flex;
  margin-bottom: 60px;
}
